
.filter {
    margin-top: 33px;

}

.filter-01 {
    /*position: relative*/
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/

}



.button-filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 133px;
    height: 45px;
    background: #FAFAF6;
    border: 1px solid #0071BC;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 10px;
}

.filter-01-01 {
    /*position: absolute;*/
    width: 133px;
    top: 0;

}

.button-filter label, img {
    margin: 0;
}

.clean-filter  {
    width: 133px;
    height: 45px;
    background: #dddddd;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #0071BC;
    text-align: end;
}

.container-price {
    width: 20%;
}

.container-price + input {
    width: 50%;

}

.position-01 {
    
}

.position-02 {
    /*left: 150px;*/
}

.position-03 {
}

.position-04 {
}

.position-05 {
}

.position-06 {
}

.filter-01-01-clean-filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.show-filter {
    visibility : visible;
    
}

.hidden-filter {
    visibility: hidden;
}

.index {
    z-index: 1000;
}

.arrow-up {
    background: url('/images/arrow-up.png');
}

.arrow-down {
    background: url('/images/arrow-down.png');
}

.filter-02 {
    display: relative;
}

.product-feed-filters-content {
    position: abosulte;
    width: 283px;
    background: #f0f0f0;
    border: solid 0.5px #868686;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.product-feed-filters-content-body {
    padding-top: 10px;
}

.product-feed-filters-content-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.button-apply {
    background: #0071BC;
    border-radius: 5px;
    width: 100px;
    height: 35.19px;
    color: white
}


.button-clear {
    background: #46B704;
    border-radius: 5px;
    width: 100px;
    height: 35.19px;    
    color: white;
}