.navbar2 {
    border: 0;
    padding: 0;
    margin: 0;
    background: #DDDDDD;
}


.navbar2 ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.right ul {
    display: flex;

}

.right * li {
    justify-content: flex-end;

}

.right * {

    padding-top: 5px;
    padding-left: 5px;

    justify-content: space-between;
    align-items: center;
}

.user {
    padding-top: 8px;
}


.link {
    color: #FFF;
}

.link:hover {
    color: red
}

.container *  {
    margin: 0;
    padding: 0;
}