* {
    margin: 0;
    padding: 0;
    border: 0;
}


.container-level-00  {
    /*background: #DDDDDD;*/
    background-color: #DDDDDD;
    height: 100%;
    margin: auto;
}

.container-level-01 {
    margin: auto;
    max-width: 1170px;
}

.button-blue {
    background: #0071BC;
    border-radius: 5px;
    width: 139px;
    height: 35.19px;
    left: 729px;
    top: 299px;
    color: white
}

.button-green {
    background: #46B704;
    border-radius: 5px;
    width: 139px;
    height: 35.19px;
    left: 729px;
    top: 299px;
    color: white;
}



