* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container  {
<<<<<<< HEAD:src/styles/layout.css
   
}
=======
    background: #DDDDDD;
    margin: auto;
}


>>>>>>> 0c407d33322b8f33415ff64fb57b1ba0f41c84d4:src/layout.css
