.button-blue {
    background: #0071BC;
    border-radius: 5px;
    width: 139px;
    height: 35.19px;
    left: 729px;
    top: 299px;
    color: white
}

.button-green {
    background: #46B704;
    border-radius: 5px;
    width: 139px;
    height: 35.19px;
    left: 729px;
    top: 299px;
    color: white;
}